In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
first_cacao_df=pd.read_csv("flavors_of_cacao2.csv",encoding="utf-8")
first_cacao_df.head()

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [ ]:


#Drop any rows that don't contain all bean type & origin conditions. 
cacao_clean_df=first_cacao_df.dropna()

cacao_clean_df.head()